<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title> login form </title>
    <script type="text/javascript" src="./js/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script type="text/javascript" src="./js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/layout.css">
</head>

<body>
    <div id="wrapper">
        <div id="loginForm">
            <h3>login room</h3>
            <input type="text" id="roomName" name="roomName">
            <h3> user name </h3>
            <input type="text" id="userName" name="userName">
            </br>
            <input type="button" value="login" id="login">
            <h3>
        </div>
    </div>
</body>

</html>